@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
body{
    position: relative;
    margin-bottom: 10px;
    max-width: 1550px;
}
h1::selection{
    color: white;
    background: #00B533;
}
h2::selection{
    color: white;
    background: #00B533;
}
h3::selection{
    color: white;
    background: #00B533;
}
p::selection{
    color: white;
    background: #00B533;
}
span::selection{
    color: white;
    background: #00B533;
}

section{
    padding: 40px 100px;
}
footer{
    padding: 20px 100px;
}
a{
    text-decoration: none;
}
.hidden-block{
    display: none;
}
.dark-block{
    display: none;
}
.message-container{
    position: fixed;
    width: 80px;
    height: 80px;
    background: #00B533;
    color: white;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.message-container i{
    position: absolute;
    color: white;
    font-size: 30px;
}
nav{
    position: fixed;
    max-width: 1550px;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px;
    padding-top: 45px;
    transition: .4s ease;
    flex-wrap: wrap;
    z-index: 999;
}
nav.active{
    padding-top: 27px;
    height: 100px;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
}
nav .nav-block{
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
}
nav .nav-block i{
    position: absolute;
    width: 27px;
    height: 27px;
    color: black;
    padding-top: 2px;
}
nav .nav-block h3{
    font-weight: 500;
    color: black;
}
nav .nav-block .item-1{
    position: absolute;
    left: 60px;
}
nav .nav-block .item-2{
    position: absolute;
    left: 90px;
}
nav .nav-block .item-3{
    position: absolute;
    left: 460px;
}
nav .nav-block .item-4{
    position: absolute;
    left: 570px;
}
nav .nav-block .item-5{
    position: absolute;
    left: 830px;
}
nav .nav-block .item-6{
    position: absolute;
    left: 860px;
}
nav .nav-block .ligt-text1,
nav .nav-block .ligt-text2{
    color: gray;
    margin-right: 25px;
    transition: .5s ease;
}
nav .nav-block .ligt-text1:hover.ligt-text1::before{
    content: "";
    position: absolute;
    bottom: -15px;
    left: 1px;
    background:  #00B533;
    width: 74px;
    height: 3px;
    border-radius: 1px;
}
nav .nav-block .ligt-text2:hover.ligt-text2::before{
    content: "";
    position: absolute;
    bottom: -15px;
    right: px;
    background:  #00B533;
    width: 60px;
    height: 3px;
    border-radius: 1px;

}
nav .nav-block .ligt-text1:hover,
nav .nav-block .ligt-text2:hover{
    color: black;
}
nav .nav-block h3{
    font-size: 15px;
}
.nav-img{
    width: 180px;
    height: 50px;
}

nav .nav-block a .item-2 h3{
    font-weight: 650;
}

 /* MAIN */

.main{
    padding-top: 150px;
    padding-left: 85px;
    display: flex;
    flex-direction: row;
    background-color: white;
} 

.main .main-block h1{
    font-size: 73px;
    line-height: 85px;
    font-weight: 600;
}
.main .main-block h1 span{
    color: #00B533;
}
.main .main-block .main-img img{
    width: 365px;
    height: 286px;
}
.main .main-block .play-block{
    position: relative;
    width: 150px;
    height: 150px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(../img/hqdefault.jpg);
    object-fit: cover;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    margin-left: 30px;
    cursor: pointer;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.main .main-block .play-block i{
    position: absolute;
    font-size: 45px;
    color: white;
    top: 37%;
    left: 41%;

}

/* About */
.about{
    padding-left: 85px;
}
.about .card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.about .card-container .card{
    cursor: pointer;
    position: relative;
    width: 570px;
    height: 400px;
    background-color:#f8f8f8;
    padding: 0 50px;
}
.about .card-container .card .card-icon{
    font-size: 30px;
    color: #00B533;
    margin-top: 170px;
    margin-bottom: 15px;
}
.about .card-container .card .card-title{
    font-size: 27px;
    margin-bottom: 10px;
}
.about .card-container .card .card-text{
    color: gray;
    font-size: 17px;
}
.about .card-container .card .top-icon{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: gray;
    border-radius: 50%;
    transform: rotate(-45deg);
}
.about .hidden-card-container{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1000px;
}
.about .card-container .hidden-card{
    cursor: pointer;
    position: relative;
    width: 570px;
    height: 400px;
    background-color:#00B533;
    padding: 50px 50px;
    display: flex;
    flex-direction: row;
}
.about .hidden-card .row-container{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.about .hidden-card .hidden-card-img1 img{
    width: 200px;
    height: auto;
    margin-top: 120px;
    margin-right: -50px;
}
.about .hidden-card .hidden-card-img2 img{
    position: absolute;
    bottom: -42px;
    right: -51px;
    width: 170px;
    height: auto;
}
.about .card-container .hidden-card .top-icon{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #00B533;
    border-radius: 50%;
    transform: rotate(-45deg);
}
.about .hidden-card .hidden-card-text{
    font-size: 18px;
    color: white;
    padding-bottom: 40px;
}
.about .card-container .card-1{
    display: block;
}
.about .card-container .hidden-card-1{
    display: none;
}
.about .card-container .card-2{
    display: block;
}
.about .card-container .hidden-card-2{
    display: none;
}
.about .card-container .card-1.active{
    display: none;
}
.about .card-container .hidden-card-1.active{
    display: block;
}
.about .card-container .card-2.active{
    display: none;
}
.about .card-container .hidden-card-2.active{
    display: block;
}

/* Direction */

.direction{
    display: flex;
    flex-direction: row;
    padding-left: 85px;
    margin-top: -30px;
}
.direction .card-container{
    display: flex;
    flex-direction: row;
}
.direction .flex-card{
    display: flex;
    flex-direction: row;
}
.direction .card-1{
    cursor: pointer;
    position: relative;
    width: 570px;
    height: 350px;
    background-color:#f8f8f8;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
}
.direction .card-1 .card-icon{
    margin-top: 70px;
    margin-left: 25px;
    margin-right: 30px;
}
.direction .card-1 .card-info .card-title{
    font-size: 25px;
    margin-top: 70px;
    margin-bottom: 30px;
}
.direction .card-1 .card-info .card-text{
    font-size: 17px;
    color: grey;
    margin-bottom: 60px;
    line-height: 30px;
}
.direction .card-1 .card-info .card-footer{
    display: flex;
    flex-direction: row;
}
.direction .card-1 .card-info .card-footer .card-footer-text{
    color: grey;
}
.direction .card-1 .card-info .card-footer .card-footer-icon{
    color: rgb(157, 153, 153);
    margin-left: 10px;
    transition: 1s ease;
}
.direction .card-1 .card-info .card-footer:hover.card-footer-icon{
    margin-left: 20px;
}

.direction .hidden-card-1{
    position: relative;
    cursor: pointer;
    width: 570px;
    height: 350px;
    background-color:#f8f8f8;
    display: flex;
    flex-direction: row;
}
.direction .hidden-card-1 .hidden-card-info{
    position: absolute;
    width: 20%;
    margin-left: 50px;
}
.direction .hidden-card-1 .hidden-card-info .hidden-card-title{
    font-size: 25px;
    margin-top: 70px;
    margin-bottom: 30px;
}
.direction .hidden-card-1 .hidden-card-info .hidden-card-text{
    font-size: 17px;
    color: grey;
    margin-bottom: 30px;
    line-height: 30px;
}
.direction .hidden-card-1 .hidden-card-info .hidden-card-footer{
    display: flex;
    flex-direction: row;
}
.direction .hidden-card-1 .hidden-card-info .hidden-card-footer .hidden-card-footer-text{
    color: grey;
}
.direction .hidden-card-1 .hidden-card-info .hidden-card-footer .hidden-card-footer-icon{
    color: rgb(157, 153, 153);
    transition: 1s ease;
    margin-left: 10px;

}
.direction .hidden-card-1 .hidden-card-info .hidden-card-footer:hover.hidden-card-footer .hidden-card-footer-icon{
    margin-left: 20px;
}
.margin{
    margin-left: 5px;
}
.direction .card-container .card-1{
    display: block;
}
.direction .card-container .hidden-card-1{
    display: none;
}
.direction .card-container .card-1.active{
    display: none;
}
.direction .card-container .hidden-card-1.active{
    display: block;
}

/* Language */

.language{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.language .language-container{
    background-color: #f8f8f8;
    width: 1142px;
    height: 222px;
}
.language .language-container .title h3{
    font-size: 28px;
    margin-top: 50px;
    margin-left: 70px;
    margin-bottom: 20px;
}
.language .language-container .text p{
    width: 80%;
    color: gray;
    font-size: 18px;
    margin-left: 70px;
}
.row-category{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 89px;
}
.category{
    background-color: #FCFCFC;
    width: 571px;
    height: 238px;
    display: flex;
    flex-direction: column;
    border: 2px solid #f8f8f8;
    cursor: pointer;
    transition: 0.5s ease;

}
.category:hover{
    background-color: white;
}
.category:hover.category .top-icon{
    background-color: #00B533;
    color: white;
}
.category .row{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.category .row .title h3{
    font-size: 20px;
}
.category .row .top-icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transform: rotate(-45deg);
    background-color: #f8f8f8;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}
.category .row .col{
    display: flex;
    flex-direction: column;
}
.category .row .col .col-title p{
    font-size: 14px;
    padding-bottom: 5px;

}
.category .row .col .col-span span{
    font-size: 22px;
}
.category .row .logos{
    display: flex;
    flex-direction: row;
}
.category .row .logos img{
    width: 80px;
    height: 20px;
}

/* Benefits */

.benefits{
    position: relative;
    background: #f8f8f8;
    width: 1140px;
    height: 550px;
    display: flex;
    flex-direction: row;
    margin-left: 90px;
}
.benefits .col-title h3{
    font-size: 29px;
    margin-top: 200px;
    margin-left: 80px;
}
.benefits .col-text p{
    font-size: 17px;
    color: gray;
    margin-left: 80px;
    margin-top: 15px;
    width: 400px;
}
.benefits .col-img img{
    width: 546px;
    height: 488px;
    margin-top: 58px;
    margin-left: 60px;
}
.benefits .col-footer{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-left: 80px;
}
.benefits .col-footer .col-text{
    color: rgb(121, 118, 118);
}
.benefits .col-footer .col-icon{
    color: rgb(157, 153, 153);
    margin-left: 10px;
    transition:1s ease;

}
.benefits .col-footer:hover{
    cursor: pointer;


}
.benefits .benefit-col .col-footer:hover.col-footer .col-icon{
    margin-left: 20px;
}

/* Carousel */

.carousel{
    width: 1140px;
    height: 488px;
    margin-left: 90px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: row;
}
.carousel .left{
    width: 50%;
    padding: 60px;
}
.carousel .right{
    position: relative;
    width: 50%;
    background-color: #00B533;
    display: flex;
    padding: 30px;
    overflow: hidden;
    text-align: center;
    padding-left: 60px;
}
.carousel .carousel-card{
    margin-right: 100px;
    transform: translateX(0);
    transition: transform 1s ease;
}
.carousel .left .carousel-icon{
    font-size: 40px;
    color: #00B533;
    margin-top: 100px;
}
.carousel .left .carousel-title h3{
    font-size: 29px;
    margin-top: 10px;
}
.carousel .left .carousel-text p{
    font-size: 17px;
    line-height: 30px;
    color: grey;
    margin-top: 10px;
}
.carousel .left .carousel-footer{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.carousel .left .carousel-footer .footer-icon{
    color: grey;
    transition: 1s ease;
}
.carousel .left .carousel-footer .footer-icon i:hover{
    cursor: pointer;
    color: black;
}
.carousel .left .carousel-footer .footer-icon.active{
    color: black;
}
.carousel .right .carousel-title h3{
    font-size: 29px;
    color: white;
}
.carousel .right .carousel-text p{
    font-size: 18px;
    margin-top: 10px;
    color: white;
}
.carousel .right .carousel-img img{
    border: 5px solid black;
    border-radius: 10px;
    width: 450px;
    height: 263px;
    left: 61px;
    margin-top: 120px;
}

/* Student */

.student-container{
    width: 87%;
    margin: auto;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: row;
}
.student-container .left{
    width: 50%;
    padding: 100px 40px;
    padding-left: 70px;
}
.student-container .right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.student-container .icon{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #00B533;
    font-size: 33px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 5px;
}
.student-container .title h3{
    font-size: 28px;
    margin-bottom: 10px;
}
.student-container .text p{
    font-size: 18px;
    color: grey;
    line-height: 30px;
}
.student-container .left .row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}
.student-container .left .row-icon{
    color: grey;
    font-size: 20px;
    margin-right: 20px;
}
.student-container .left .row-text p{
    color: grey;
    font-size: 16px;
}
.student-container .left .row-icon-right{
    color: gray;
    transition: 1s ease;
    margin-left: 10px;

}
.student-container .left .row:hover{
    cursor: pointer;

}
.student-container .left .row:hover .row-icon-right{
    margin-left: 20px;
}
.student-container .right .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.student-container .right .row-img{
    padding: 10px;
}

/* Certificate */

.certificate{
    width: 87%;
    height: 570px;
    background-color: #f8f8f8;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.certificate .left{
    width: 50%;
    display: flex;
    align-items: center;
}
.certificate .left img{
    width: 95%;
}
.certificate .right{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    justify-content: center;
    padding-left: 40px;
}

.certificate .right .content img{
    margin-top: -40px;
}
.certificate .right .content h3{
    font-size: 33px;
    margin: 20px 0;
}
.certificate .right .content p{
    font-size: 18px;
    width: 85%;
    color: gray;
    margin-top: 5px;
    line-height: 30px;
}

/* System */

.system{
    width: 87%;
    height: auto;
    padding: 40px 50px;
    background: #f8f8f8;
    margin: auto;
}
.system .title h1{
    font-size: 55px;
    margin-left: 40px;
    margin-bottom: 30px;
}
.system .row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.system .row .card{
    width: 29%;
    height: auto;
    background-color: white;
    margin: 15px;
    padding: 20px 30px;
}
.system .row .card .content{
    height: 50%;
    justify-content: center;
    align-items: center;
}
.system .row .card h3{
    font-size: 21px;
    text-align: center;
    margin: 20px 0;
}
.system .row .card p{
    font-size: 14px;
    color: gray;
    text-align: center;
    margin-bottom: 30px;
    line-height: 25px;
    font-weight: 500;
}
.system .row .card .img{
    height: 50%;
    padding-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.teacher{
    width: 87%;
    margin: auto;
    flex-direction: column;
}
.teacher h1{
    font-size: 65px;
    margin-bottom: 70px;
}
.teacher .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.teacher .row .card{
    text-align: center;
    width: 30%;
    margin: 0 10px;
    margin-bottom: 50px;
}
.teacher .card .avatar img{
    width: 255px;
    height: 255px;
    border-radius: 50%;
}
.teacher .card h3{
    font-size: 22px;
    margin-top: 20px;
}
.teacher .card .text{
    font-size: 15px;
    color: gray;
    margin-top: 10px;
    font-weight: 500;
}
.teacher .row .card .img img{
    margin-top: 20px;
    width: 40%;
    height: auto;
}

/* Partner */
.partner{
    width: 87%;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.partner .left{
    width: 60%;
    height: auto;
    background-color: #f8f8f8;
    padding: 70px;
}
.partner .right{
    width: 40%;
    display: flex;
    flex-direction: row;
}
.partner .left .icon{
    font-size: 35px;
    color: #00B533;
    margin-top: 60px;
}
.partner .left .title h3{
    font-size: 28px;
    color: #000030;
    margin-top: 30px;
}
.partner .left .text{
    font-size: 18px;
    color: gray;
    line-height: 30px;
    margin-top: 20px;
}
.partner .left .row-icon{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    align-items: center;
}
.partner .left .icon-text{
    font-size: 17px;
    color: gray;
}
.partner .left .right-icon{
    color: gray;
    margin-left: 10px;
    transition: 1s ease;
}
.partner .left .row-icon:hover{
    cursor: pointer;
}
.partner .left .row-icon:hover.row-icon .right-icon{
    margin-left: 20px;
}
.partner .right .col{
    display: flex;
    flex-direction: column;
}
.partner .right .col .bussines-card{
    width: 236px;
    height: 130px;
    border: 1px solid #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partner .right .col .bussines-card img{
    width: 50%;
}
.taxi{
    width: 35% !important;
}
.park{
    width: 30% !important;
}

/* Fotter  */
footer h2{
    font-size: 22px;
}
footer .span p{
    font-size: 14px;
    margin-left: 90px;
    margin-top: 30px;
}
footer .content{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid #f8f8f8;
    padding: 40px;
    margin-left: 50px;
    margin-top: 70px;
}
footer .column{
    position: relative;
    width: 35%;
    display: flex;
    flex-direction: row;
}
footer .info{
    width: 25%;
}

footer .column .row{
    margin: 0 30px;
}
footer .img-card{
    margin-right: 20px;
}
footer .img-card .img1{
    position: absolute;
    top: 0;
    right: 40px;
}
footer .img-card .img2{
    position: absolute;
    top: 10px;
    right: 85px;
}
footer .img-card .text{
    position: absolute;
    bottom: 40px;
    right: 40px;
    text-align: end;
    font-size: 15px;
    color: gray;
}
footer  a{
    color: gray;
}
footer  a li{
    list-style-type: none;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width:576px){
    section{
        padding: 40px 5px;
    }
    footer{
        padding: 40px 5px;
    }
    nav{
        padding: 10px 20px;
        height: 90px;
        align-items: center;
    }
    nav.active{
        padding-top: 10px;
        height: 70px;
    }
    .nav-block.overlay{
        display: none;
    }
    nav .nav-block .nav-img{
        width: 100px;
        height: 30px;
    }
    .hidden-block{
        position: absolute;
        display: block;
        background: url(../img/menu.png);
        width: 16px;
        height: 16px;
        background-size: cover;
        right: 20px;
    }
    .dark-block{
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        color: white;
        background-color:rgba(0,0,0,0.81);
        z-index: 2222;
        transition: .5s;
        transform: translateY(-100%);
    }
    .dark-block.active{
        display: block;
    }
    .dark-block-item{
        position: fixed;
        left: 38%;
        transform: translateY(-100%);
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: .7s ease;

    }
    .dark-block .left-btn img{
        width: 16px;
        height: 16px;
        position: absolute;
        top: 40px;
        right: 20px;
    }
    .dark-block h3{
        text-decoration: none;
        color: white;
        font-weight: 500;
        margin-top: 30px;
    }
    .main{
        padding: 60px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .main .main-block h1{
        font-size: 35px;
        line-height: 40px;
    }
    .main .main-block .play-block{
        margin-left: 0;
    }
    .main .main-block .main-img img{
        width: 100%;
        height: 268px;
    }
    .about{
        padding-left: 0;
    }
    .about .hidden-card .row-container{
        flex-direction: column;
    }
    .about .card-container{
        flex-direction: column;
    }
    .about .card-container .card{
        width: 100%;
        margin-top: 20px;
        height: 370px;
    }
    .about .card-container .hidden-card{
        width: 100%;
        margin-top: 20px;
    }
    .about .card-container .card .card-icon{
        margin-top: 120px;
    }
    .about .card-container .card .card-title{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .about .card-container .card .card-text{
        font-size: 15px;
    }
    .direction{
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }
    .direction .card-1{
        width: 100%;
        margin-top: 10px;
        padding: 0;
        display: flex;
        height: 280px;
    }
    .direction .card-1 .card-info .card-text{
        font-size: 14px;
        margin-bottom: 20px;
    }
    .direction .card-1 .card-icon{
        margin-top: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .direction .card-1 .card-info .card-title{
        font-size: 25px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .margin{
        margin-left: 0;
    }
    .language .language-container{
        background-color: #f8f8f8;
        width: 100%;
        height: 256px;
    }
    .language .language-container .title h3{
        font-size: 22px;
        margin-top: 15px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .language .language-container .text p{
        width: 95%;
        font-size: 15px;
        margin-left: 10px;
    }
    .row-category{
        flex-direction: column;
        margin-left: 0px;
    }
    .category{
        width: 100%;
        height: 296px;
        margin-top: 10px;
        background-color: #FCFCFC;
    }
    .category .row{
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: auto;
        justify-content: space-between;
        align-items: center;
    }
    .benefits{
        position: relative;
        width: 100%;
        height: 458px;
        flex-direction: column;
        margin-left: 0px;
    }
    .benefits .col-title h3{
        font-size: 28px;
        margin-top: 60px;
        margin-left: 20px;
    }
    .benefits .col-text p{
        width: 280px;
        font-size: 14px;
        margin-left: 20px;
        line-height: 25px;
    }
    .benefits .col-img img{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 191px;
        height: 171px;
        margin-right: 20px;
    }
    .benefits .col-footer{
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        margin-left: 0;
    }
    .benefits .col-footer .col-text{
        color: rgb(121, 118, 118);
        margin-left: 20px;
        font-size: 16px;
    }
    .benefits .col-footer .col-icon{
        color: rgb(157, 153, 153);
        margin-left: 10px;
    }
    .carousel{
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-left: 0;
    }
    .carousel .left{
        width: 100%;
        padding: 20px;
    }
    .carousel .right{
        padding: 0;
        width: 100%;
    }
    .carousel .carousel-card{
        padding: 20px;
    }
    .carousel .left .carousel-icon{
        font-size: 35px;
        margin-top: 30px;
    }
    .carousel .left .carousel-title h3{
        font-size: 25px;
        margin-top: 10px;
    }
    .carousel .left .carousel-text p{
        font-size: 15px;
        line-height: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .carousel .left .carousel-footer{
        display: none;
    }
    .carousel .right .carousel-title h3{
        font-size: 25px;
        color: white;
    }
    .carousel .right .carousel-text p{
        font-size: 15px;
        margin-top: 10px;
        color: white;
    }
    .carousel .right .carousel-img img{
        border: 5px solid black;
        border-radius: 10px;
        width: 277px;
        height: 154px;
        margin-bottom: -60px;
    }
    .student-container{
        width: 100%;
        flex-direction: column;
    }
    .student-container .left{
        width: 100%;
        padding: 10px 10px;
        padding-left: 70px;
        padding-left: 10px;
        height: 311px;
        align-items: center;
        justify-content: center;
    }
    .student-container .title h3{
        font-size: 28px;
        margin-bottom: 6px;
    }
    .student-container .icon{
        width: 35px;
        height: 35px;
        font-size: 25px;
        justify-content: center;
        margin-bottom: 30px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .student-container .right{
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .student-container .right .row-img{
        padding: 5px 10px;
    }
    .student-container .right .row-img img{
        width: 35px;
        height: 35px;
    }
    .certificate{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .certificate .left{
        width: 100%;
        padding: 20px 0;
    }
    .certificate .left img{
        width: 95%;
    }
    .certificate .right{
        width: 100%;
        padding: 30px 20px;
        padding-left: 20px;
        margin-top: 20px;

    }
    
    .certificate .right .content img{
        margin-top: 0;
    }
    .certificate .right .content h3{
        font-size: 26px;
        margin: 20px 0;
    }
    .certificate .right .content p{
        font-size: 16px;
        width: 85%;
        color: gray;
        margin-top: 5px;
        line-height: 25px;
    }
    .system{
        width: 100%;
        height: auto;
        padding: 20px 25px;
        background: #f8f8f8;
        margin: auto;
    }
    .system .title h1{
        font-size: 35px;
        margin-left: 7px;
        margin-bottom: 20px;
    }
    .system .row{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    .system .row .card{
        width: 100%;
        height: auto;
        background-color: white;
        margin: 20px 0;
    }
    .system .row .card .content{
        height: 50%;
        justify-content: center;
        align-items: center;
    }
    .teacher{
        width: 100%;
        flex-direction: column;
    }
    .teacher h1{
        font-size: 33px;
        margin-bottom: 50px;
    }
    .teacher .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .teacher .row .card{
        text-align: center;
        width: 100%;
        margin-bottom: 50px;
        margin: 0;
        margin-top: 70px;
    }
    .teacher .card .avatar img{
        width: 155px;
        height: 155px;
        border-radius: 50%;
    }
    .teacher .row .card .img img{
        margin-top: 20px;
        width: 35%;
        height: auto;
    }
    .partner{
        width: 100%;
        flex-direction: column;
    }
    .partner .left{
        width: 100%;
        padding: 30px;
    }
    .partner .right{
        width: 100%;
        flex-direction: row;
    }
    .partner .left .icon{
        font-size: 35px;
        color: #00B533;
        margin-top: 20px;
    }
    .partner .left .text{
        font-size: 15px;
        color: gray;
        line-height: 30px;
        margin-top: 20px;
    }
    .partner .left .row-icon{
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        align-items: center;
    }
    .partner .left .icon-text{
        font-size: 17px;
        color: gray;
    }
    .partner .left .right-icon{
        color: gray;
        margin-left: 10px;
        transition: 1s ease;
    }
    .partner .left .row-icon:hover{
        cursor: pointer;
    }
    .partner .left .row-icon:hover.row-icon .right-icon{
        margin-left: 20px;
    }
    .partner .right .col{
        display: flex;
        flex-direction: column;
    }
    .partner .right .col .bussines-card{
        width: 100%;
        height: 130px;
        border: 1px solid #f8f8f8;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .partner .right .col .bussines-card img{
        width: 80%;
    }
    .taxi{
        width: 50% !important;
    }
    .park{
        width: 45% !important;
    }
    footer h2{
        font-size: 19px;
    }
    footer .span p{
        font-size: 14px;
        margin-left: 10px;
        margin-top: 30px;
    }
    footer .content{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        border-bottom: 3px solid #f8f8f8;
        padding: 0px;
        margin-top: 30px;
    }
    footer .column{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0 10px;
        justify-content: space-between;

    }
    footer .info{
        width: 100%;
        margin-bottom: 20px;
        padding-left: 10px;

    }
    
    footer .column .row{
        margin: 0;
    }
    footer .img-card{
        width: 50%;
        height: 30%;
        margin-left: 20%;
    }
    footer .img-card .img1{
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 99;
    }
    footer .img-card .img2{
        position: absolute;
        top: 20px;
        right: 65px;
    }
    footer .img-card .text{
        position: absolute;
        bottom: 10px;
        right: 10px;
        text-align: end;
        font-size: 15px;
        color: gray;
    }
    footer  a{
        color: gray;
    }
    footer  a li{
        list-style-type: none;
        margin-top: 15px;
        font-size: 15px;
        font-weight: 400;
    }
    .about .card-container .card-1.active{
        display: block;
    }
    .about .card-container .hidden-card-1.active{
        display: none;
    }
    .about .card-container .card-2.active{
        display: block;
    }
    .about .card-container .hidden-card-2.active{
        display: none;
    }
    .direction .card-container .card-1.active{
        display: block;
    }
    .direction .card-container .hidden-card-1.active{
        display: none;
    }
    
}